.mainContainer {
    max-width: 600px;
    margin-inline: auto;
    padding-inline: 22px;
}

.headerContainer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "exit language timer"
                         "exit title timer"
                         "progress progress progress";
    align-items: center;
    justify-items: center;

    column-gap: 12px;
}

.headerContainer h2 {
    grid-area: language;
    margin: 0;

    font-family: var(--inter-font), sans-serif;
    font-size: 20px;
    color: #D8D8D8;
    font-weight: 400;
    justify-self: left;
}

.headerContainer h3 {
    grid-area: title;
    margin: 0;

    font-family: var(--inter-font), sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #747577;
    justify-self: left;
}

.headerContainer button {
    grid-area: exit;
    background: none;
    border: none;
}




/* question section */
.questionContainer {
    background-color: var(--primary-background-color);
    border: 1px solid var(--primary-stroke-color);
    border-radius: 10px;

    margin-block-start: 1.5rem;
}