.mainContainer {
    max-width: 600px;
    margin-inline: auto;
    padding-inline: 22px;
    display: grid;
    row-gap: 14px;
}

.previewsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.previewsGrid > :nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
