.dailyExamContainer {
    display: grid;
    grid-template-areas: "icon time" "title title" "description description" "btn btn";
    row-gap: 4px;
    padding-block-start: 2px;
}

.dailyExamContainer > img {
    grid-area: icon;
}

.dailyExamContainer time {
    grid-area: time;
    justify-self: flex-end;
    color: #767676;
    font-size: 10px;
    font-family: var(--inter-font), sans-serif;

    display: flex;
    align-items: center;
    gap: 4px;
}

.dailyExamContainer h3 {
    grid-area: title;
    justify-self: center;
}
.dailyExamContainer p {
    grid-area: description;
    justify-self: center;
    margin-block-end: 12px;
}
