.progressTrack {
    grid-area: progress;
    height: 12px;
    width: 100%;
    background-color: #2B2C30;
    border-radius: 12px;
    overflow: hidden;
    margin-block-start: 8px;
    position: relative;
}

.progressFill {
    height: 100%;
    background-color: var(--primary-light-color, #00ff88);
    border-radius: 12px;
}