.languageContainer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "logo title level"
                         "logo description description";

    border: 1px solid var(--primary-stroke-color);
    background-color: var(--primary-background-color);
    border-radius: 14px;
    padding-inline: 12px;
    padding-block: 18px;
    width: 100%;
}
.languageContainer:hover {
    border: 1px solid var(--primary-light-color);
    transition: border .3s ease-in-out;

    em {
        border: 1px solid var(--primary-light-color);
        transition: border .9s ease-in-out;
    }
}


.languageContainer img {
    grid-area: logo;
    max-width: 40px;
    align-self: center;
    border-radius: 8px;
    margin-inline-end: 10px;
}

.languageContainer h3 {
    grid-area: title;
    margin: 0;
    justify-self: left;

    font-family: var(--poppins-font), sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.languageContainer em {
    grid-area: level;
    align-self: center;
    justify-self: center;

    font-family: var(--inter-font), sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #E5E3E3;
    /*background-color: #1D5938;*/
    border-radius: 26px;
    border: 1px solid #353535;
    padding: 4px 10px;
    font-style: normal;
}

.languageContainer p {
    grid-area: description;
    margin: 0;
    max-width: 85%;

    font-family: var(--roboto-font), sans-serif;
    font-size: 14px;
    color: #808080;
    text-align: left;
}

/*special classes*/
.selectedLanguage {
    border: 1px solid var(--primary-light-color);

    em {
        border: 1px solid var(--primary-light-color);
    }
}