.itemContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "icon name"
        "icon description"
        "icon progress";
    row-gap: 6px;
    list-style: none;
    border: 1px solid rgba(157, 157, 157, 0.5);
    border-radius: 12px;
    padding-block: 14px;
    background-color: rgba(121, 137, 199, 0.25);
}

.itemContainer > svg {
    grid-area: icon;
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
}

.itemContainer h3 {
    grid-area: name;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
}

.itemContainer em {
    margin-inline-start: 12px;
    background-color: rgba(23, 138, 71, 0.71);
    color: rgb(29, 224, 19);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-style: normal;
    border-radius: 12px;
    padding-inline: 12px;
}
.itemContainer p:first-of-type {
    grid-area: description;
    margin: 0;
}

.itemContainer p:last-of-type {
    grid-area: progress;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.itemContainer p svg {
    width: 20px;
    height: 20px;
    fill: #c9a812;
}

.itemContainer progress {
    height: 8px;
    border-radius: 12px;
    border: none;
    background: rgba(248, 248, 248, 0.14);

}
progress::-moz-progress-bar { background: #c9a812; }